/* ex02.css */

body {
  background: linear-gradient(
      93.08deg,
      rgba(166, 247, 80, 0.14) 19.31%,
      rgba(61, 44, 255, 0) 75.52%
    ),
    rgb(24, 28, 35);
  color: #d4ddcb;
  font-family: "Arial", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

#clock {
  font-size: 6em;
  padding: 2rem;
  margin: 2rem;
}

.glass-container {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

a {
  color: #68b517;
  font-size: 1.3rem;
}

a:hover {
  text-decoration: underline;
}
